body {
  font: 400 16px/1.6 'Avenir Next', 'Source Han Sans SC', sans-serif;
  font-feature-settings: 'kern';
  font-kerning: normal;
  word-wrap: break-word;
}

h1, h2 {
  padding-left: 20px;
  margin: 10px 0;
}

h2 {
  font-size: large;
  font-weight: 400;
  margin: 5px 0;
}

.header-wrapper, .wrapper {
  margin: 0 20px;
  display: flex;
}

.header-wrapper h3 {
  font-size: small;
  font-weight: 400;
  letter-spacing: 1px;
  color: #9e9e9e;
}

.header-input {
  flex: 50%;
  padding: 5px 5px;
  margin: 0;
}

.header-output {
  flex: 50%;
  padding: 5px 20px;
  margin: 0;
}

.icon {
  margin-left: 1em;
  position: relative;
  top: 3px;
}

.wrapper {
  border: 1px solid #eeeeee;
}

.md-input {
  font: 400 16px/1.6 'Source Code Pro', Menlo, Consolas monospace;
  min-height: 600px;
  overflow-y: auto;
  resize: none;
  flex: 50%;
  border: none;
  border-right: 1px solid #eeeeee;
  padding: 5px;
}

.md-output {
  min-height: 600px;
  overflow-y: auto;
  flex: 50%;
  padding: 5px 20px;
}

.md-output h1,
.md-output h2,
.md-output h3,
.md-output h4,
.md-output h5,
.md-output h6 {
  padding-left: 0;
  font-weight: 600;
}

.md-output h1 {
  font-size: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.md-output h2 {
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.md-output h3 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.md-output h4 {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.md-output h5 {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.md-output h6 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.md-output hr {
  height: 4px;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.md-output pre {
  white-space: pre-wrap;
}

.md-output code {
  font-family: 'Source Code Pro', Menlo, Consolas monospace;
  background: #f0f0f0;
  padding: .1ex .2em;
}

.md-output ol,
.md-output ul {
  padding-left: 2em;
}

.md-output blockquote {
  color: #6a737d;
  padding-left: 1em;
  margin: 0;
  border-left: .25em solid #dfe2e5;
}

.md-output img {
  max-width: 80%;
}
